@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
  